body {
    background-color: black
}
.post{
background-color: white;
width:500px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.postheader{
    display:flex;
    margin: auto;
    padding: 10px;
}
h5 {
    margin-top: 1px;
    margin-bottom: 1px;
}
.headerMenu {
    margin-left: auto !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
}
.image {
    margin-bottom: 10px;
}
.postfooter {
    margin: 10px;
}
.middleLivro {
    margin-left: 390px !important;
}